
@import url(var.css);

.about{
    height: 100vh;
    background-color:var(--color-primary);
}

.about .container{
    display: flex;
}

.about .timing{
    width: 33%;
    background-image: url(../img/brush-big.jpg);
    background-size: cover;
    padding:20px;
    height: 500px;
}

.about .timing .overlay {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px 20px;
    text-align: center;
}

.about .timing .icon-cut {
    width: 50px;
}

.about .timing h3{
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid  var(--color-primary);
    width: fit-content;
    margin:0 auto;
}

.about .timing .text h4{
    color:grey;
}

.about .timing .



.about .experience{
    width: 66%;
}

