
@import url(var.css);

.about{
    height: 100vh;
    background-color:var(--color-primary);
}

.about .container{
    display: flex;
}

.about .timing{
    width: 33%;
}

.about .experience{
    width: 66%;
}

